#container {
    height: 60px;
    background: white;
    position: absolute;
    top: 660px;
    left: 52px;
    box-shadow: 4px 16px 24px -5px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    z-index: 1;
}
.fontSizeContainer{
    height: 120px;
    background: white;
    position: absolute;
    top: -130px;
    left: 40px;
    box-shadow: 4px 16px 24px -5px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor:pointer;
    z-index: 2;
    border-radius: 5px;
}
.fontSizeType{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
}
.fontSizeType:hover{
    background-color: #c7c7c7;
}
