#container {
    height: 60px;
    background: white;
    position: absolute;
    top: 660px;
    left: 52px;
    box-shadow: 4px 16px 24px -5px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}
