<configuration>

    <!-- Konfiguracja ogólnego logowania do pliku logs.log -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Definicja katalogu i nazwy pliku -->
            <fileNamePattern>logs/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Maksymalna wielkość pliku w bajtach -->
            <maxFileSize>5MB</maxFileSize>
            <!-- Maksymalna liczba plików -->
            <maxHistory>5</maxHistory>
            <!-- Inicjalizacja -->
            <totalSizeCap>25MB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- Konfiguracja logowania typu ERROR do pliku errors.log -->
    <appender name="errorFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/errors.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" target="System.out">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Konfiguracja korzenia logów -->
    <root level="DEBUG">
        <appender-ref ref="file" />
        <appender-ref ref="errorFile" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>